.keyboard-layout {
  border-collapse: collapse;
  font-size: 12pt;
  font-family: "arial";
}

td.keyboard-key {
  border: 1px solid darkgray;
  width: 10ex;
  height: 10ex;
  margin: 0;
  position: relative;
}

td.lower-key {
  background-color: navy;
  color: white
}

td.raise-key {
  background-color: orange;
  color: white;
}

.layer {
  font-size: 0.8em;
  position: absolute;
  padding: 0.3em;
}

.raise {
  top: 0;
  right: 0;
  color: orange;
}

.lower {
  bottom: 0;
  left: 0;
  color: navy;
}

.adjust {
  bottom: 0;
  right: 0;
  color: #888;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
